<div class="text-left container">
  <h2 class="text-center font-style">about.</h2>
    <div class="logos text-center">
        <img src="../../assets/img/logos/mongodb.png" height="75" width="auto" alt="mongo db logo" />&nbsp;
        <img src="../../assets/img/logos/express.png" height="75" width="auto" alt="express logo" />
        <img src="../../assets/img/logos/angular.png" height="75" width="auto" alt="angular logo" />&nbsp;
        <img src="../../assets/img/logos/nodejs.png" height="75" width="auto" alt="node js logo" />
    </div>
    <div class="media">
      <div class="media-left">
        <img src="../../assets/img/ryan.jpg">
      </div>
      <div class="media-body">
        <h3 class="font-style text-center">Hello there</h3>
        <p>My name is Ryan, as you may have guessed. Coding has been
          a hobby of mine off and on since designing my geocities and 
          angelfire websites in Microsoft Frontpage and writing little 
          programs in Visual Basic in the early 2000's.</p>
        <p>I started to get serious about coding again a few years ago when 
          I decided to learn Python. In the process, I discovered Django which 
          reignited my passon for web development.</p>
        <p>One thing lead to another, and I fell in love with MEAN stack development, 
          and I would love to help you make your idea work.</p>
        <p class="text-center"><a routerLink="/contact">Get In Touch</a></p>
      </div>
    </div>
</div>