.blog {
	background-image: url('http://localhost:4200/assets/img/library.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 35px;
	height: 300px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

.blog-content {
	padding: 25%;
}

.btn-purple { 
  color: #FFFFFF; 
  background-color: #50465C; 
  border-color: #130269; 
} 
 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #FFFFFF; 
  background-color: #331B52; 
  border-color: #130269; 
} 
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #50465C; 
  border-color: #130269; 
} 
 
.btn-purple .badge { 
  color: #50465C; 
  background-color: #FFFFFF; 
}